// https://google-webfonts-helper.herokuapp.com/fonts/open-sans?subsets=latin
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("/fonts/open-sans-v17-latin-regular.woff2") format("woff2"),
    url("/fonts/open-sans-v17-latin-regular.woff") format("woff");
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("/fonts/open-sans-v17-latin-700.woff2") format("woff2"),
    url("/fonts/open-sans-v17-latin-700.woff") format("woff");
}

// https://google-webfonts-helper.herokuapp.com/fonts/poppins?subsets=latin
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("/fonts/poppins-v9-latin-700.woff2") format("woff2"),
    url("/fonts/poppins-v9-latin-700.woff") format("woff");
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
