@import 'reset';
@import 'fonts';

.roomPage {
  position: absolute;
  top: 0; left: 0;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: auto 300px;
  grid-template-rows: auto;

  .videoChat, .textChat {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px auto 60px;
    overflow: auto; // this hack makes children scrollable

    > header {
      border-bottom: 1px solid #eee;
    }

    > section {
      overflow-y: auto;
    }

    > footer {
      border-top: 1px solid #eee;
    }
  }

  .videoChat {
    > * {
      border-right: 1px solid #eee;
    }
  }
}

.roster {
  display: none;
}

.welcome {
  background: rgba(0,0,0,0.3);
  position: absolute;
  height: 100%;
  width: 100%;

  .inner {
    background: #fff;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 640px;
    height: 670px;

    h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }

    .video {
      video {
        border-radius: 15px;
        // TODO: this is dumb and hacky -- revisit after grid video is solved
        height: #{598 * 3/4}px;
        width: 598px;
      }
    }

    h3 {
      font-size: 20px;
      margin: 15px 0;
    }

    input {
      border: 0;
      border-bottom: 1px solid #eee;
      font-size: 20px;
    }

    button {
      border: 0;
      border-radius: 10px;
      margin-top: 15px;

      font-size: 20px;
      padding: 10px 20px;
    }
  }
}

.textChat {
  .messages {
    background: #f7f7f7;
    padding: 10px;

    .message {
      background: #fff;
      border-radius: 10px;
      font-size: 14px;
      line-height: 1.2em;
      margin-bottom: 10px;
      margin-left: 40px;
      padding: 10px;
      position: relative;

      .avatar {
        height: 32px;
        width: 32px;

        position: absolute;
        left: -40px;
        bottom: 5px;
      }

      .name {
        color: #555;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }

  .chatBox {
    align-items: center;
    display: flex;
    overflow: hidden;

    input {
      border: 0;
      flex-grow: 1;
      height: 60px;
      outline: 0;
      padding: 10px;
      // TODO: make this flex
      width: 240px;
    }

    button {
      background: #bbb;
      border: 0;
      border-radius: 50%;
      flex-basis: auto;
      height: 42px;
      outline: 0;
      width: 42px;

      svg {
        color: #fff;
      }
    }
  }
}

.videoChat {
  header {
    align-items: center;
    display: flex;

    h1 {
      font-size: 22px;
      margin-left: 15px;
    }
  }

  .videos {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 15px;

    .video {
      flex-shrink: 0;
      //height: #{37vw * (3 / 4)};
      min-width: 200px;
      padding: 15px 0 0 15px;
      //width: 37vw;
      width: 50%;

      video {
        border-radius: 15px;
        height: 100%;
        width: 100%;
      }
    }

    &.videos-count-1 .video {
      width: 75%;
    }
  }

  .controls {
    display: flex;

    .button {
      align-items: center;
      border-right: 1px solid #eee;
      color: #222;
      cursor: default;
      display: flex;
      font-size: 14px;
      height: 100%;
      justify-content: center;
      width: 100px;

      &:hover {
        background: #f6f6f6;
      }

      &:active {
        background: #eee;
      }

      svg {
        color: #999;
        margin-right: 8px;
      }
    }
  }

}

